@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import './variables.scss';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@mixin buildCell($row-start,$row-end,$col-start,$col-end) {
  grid-row-start: $row-start;
  grid-row-end: $row-end;
  grid-column-start: $col-start;
  grid-column-end: $col-end;
}
@mixin buildGrid($rows,$cols) {
  grid-template-rows: repeat($rows,1fr);
  grid-template-columns: repeat($cols,1fr);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $lightGrayishBlue;
  @include flexCenter;
  font-family: 'Manrope', sans-serif;

}
@media(max-width: 699px) {
  .card {
    display: grid;
    width: 80vw;
    min-height: 90vh;
    @include buildGrid(7, 5);
    background: white;
    border-radius: 10px;

    .one {
      @include buildCell(1, 4, 1, 6);
      background-image: url('../images/drawers.jpg') ;
      background-size: cover;
      background-repeat: no-repeat;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .two {
      @include buildCell(4, 6, 1, 6);
      font-weight: 700;
      font-size: 1.25rem;
      color: $veryDarkGrayishBlue;
      align-self: center;
      margin: 0 20px;
    }
    .three {
      @include buildCell(6, 7, 1, 6);
      color: $desaturatedDarkBlue;
      font-size: 13px;
      margin: 0 20px;
    }
    .four {
      @include buildCell(7, 8, 1, 2);
      @include flexCenter;
      margin-left: 25px;
      span {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-image:url('../images/avatar-michelle.jpg');
        background-size: 55px;
        background-repeat: no-repeat;
      }
    }
    .five {
      @include buildCell(7, 8, 2, 5);
      align-self: center;
      color: $veryDarkGrayishBlue;
      font-size: 13px;
      margin-left: 10px;
      span {
        color: $desaturatedDarkBlue;
      }
    }
    .six {
      @include buildCell(7, 8, 5, 6);
      @include flexCenter;
      margin-right: 25px;
      span {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-image: url('../images/icon-share.svg'), linear-gradient($lightGrayishBlue,$lightGrayishBlue);
        background-repeat: no-repeat;
        background-size: 40px;
        background-position: center;
      }
    }

  }
}

@media(min-width: 700px) {

.card {
  display: grid;
  width: 60vw;
  height: 40vh;
  @include buildGrid(10, 5);
  background: white;
  padding-right: 10px;
  border-radius: 10px;

  .one {
    background-image: url('../images/drawers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include buildCell(1, 6, 1, 5);
    margin-right: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .two {
    font-weight: 700;
    font-size: 1.25rem;
    color: $veryDarkGrayishBlue;
    @include buildCell(1, 3, 5, 11);
    align-self: flex-end;
  }
  .three {
    color: $desaturatedDarkBlue;
    font-size: 13px;
    @include buildCell(3, 5, 5, 11);
    align-self: center;
  }
  .four {
    @include buildCell(5, 6, 5, 5);
    @include flexCenter;
    span {
      width: 35px;
      height: 36px;
      border-radius: 50%;
      background-image: url('../images/avatar-michelle.jpg');
      background-size: 35px;
      background-repeat: no-repeat;
    }
  }
  .five {
    font-size: 13px;
    color: $veryDarkGrayishBlue;
    @include buildCell(5, 6, 6, 10);
    align-self: center;
    padding-left: 10px;
    span {
      color: $desaturatedDarkBlue;
    }
  }
  .six {
    @include buildCell(5, 6, 10, 11);
    @include flexCenter;
    span {
      width: 34px;
      height: 35px;
      border-radius: 50%;
      background-image: url('../images/icon-share.svg'), linear-gradient($lightGrayishBlue,$lightGrayishBlue);
      background-size: 35px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

}
